@import './base.css';
@import 'tailwindcss';

/* main.css */
html, body, #app {
  height: 100%;
  width: 100%; /* Full width of the viewport */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; /* Full width of the viewport */
  color: white;
  font-family: 'Inter', sans-serif;
}
